* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: monospace;
}

html, body {
  height: 100%;
  margin: 0;
}

.mainArea {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  padding: 10px
}

textarea {
  /* Override browsers defaults. */
  font: inherit;
  padding: 10px;
  width: 100%;
  height: 100%;
}